@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.partners {
    background: $zirconColor;
    padding: $desctop60px $desctop135px $desctop60px;

    &__wrapper {
        display: flex;
    }

    &__title {
        font-family: $Montserrat900;
        color: $tolopeaColor;
        letter-spacing: $desctop1px;
        text-transform: uppercase;
        font-size: $desctop12px;
        white-space: nowrap;
        min-width: 7vw;
    }

    &__rightSide {
        margin: $desctop30px 0 0 $desctop5px;
        width: 100%;

        &_title {
            margin-bottom: $desctop20px;
            font-family: $Montserrat900;
            line-height: $desctop50px;
            font-size: $desctop40px;
            color: $tolopeaColor;

            span {
                color: $redColor;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: $desctop30px;

        &_link {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20vw;
            height: 10vw;

            &:after {
                content: "";
                position: absolute;
                left: 100%;
                width: 2px;
                height: 100%;
                top: 0;
                background: linear-gradient(180deg,hsla(0,0%,100%,.47) 0,rgba(112,112,131,.47) 32%,rgba(32,32,62,.47) 0,rgba(112,112,131,.4) 0,hsla(0,0%,100%,.47));
            }

            img {
                width: $desctop200px;
                object-fit: scale-down;
            }
        }
    }
}
