@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.firstScreen {
    background: $blueGradient;
    height: 100vh;
    min-height: 42vw;
    padding: $desctop40px $desctop135px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media only screen and (min-width: 500px) and (max-width: 1024px) {
        height: auto;
        min-height: 50vw;
    }

    @media only screen and (max-width: 499px) {
        height: auto;
    }

    &__title {
        font-family: $Montserrat900;
        font-size: $desctop60px;
        line-height: $desctop60px;
        color: $whiteColor;

        @media only screen and (max-width: 499px) {
            font-size: $mobile34px;
            line-height: $mobile44px;
        }
    }

    &__subTitle {
        font-family: $Montserrat400;
        font-size: $desctop16px;
        line-height: $desctop32px;
        color: $whiteColor;
        opacity: 0.89;
        margin: $desctop40px 0;
        max-width: 28vw;

        @media only screen and (max-width: 499px) {
            font-size: $mobile12px;
            line-height: $mobile21px;
            max-width: 100%;
            margin-bottom: $mobile30px;
        }
    }

    &__button {
        border: 0;
        font-family: $Montserrat600;
        font-size: $desctop12px;
        letter-spacing: $desctop1px;
        border-radius: $desctop100px;
        height: $desctop63px;
        background-color: $redColor;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: $desctop225px;
        cursor: pointer;
        color: $whiteColor;
        text-transform: uppercase;

        @media only screen and (max-width: 499px) {
            font-size: $mobile12px;
            letter-spacing: $mobile1px;
            border-radius: $mobile60px;
            height: $mobile42px;
            max-width: 100%;
            margin-bottom: $mobile20px;
        }

        &:hover {
            color: $whiteColor;
            background: rgba(255, 48, 21, 0.5);
        }
    }

    &__backgroundImg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 40vw;

        @media only screen and (max-width: 499px) {
            position: static;
            top: initial;
            transform: translate(-9vw, 7vw);
            height: auto;
            width: 100vw;
        }
    }
}

.socialIcons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-46%);

    @media only screen and (max-width: 499px) {
        top: 15%;
        transform: initial;
    }

    &__link {
        padding: $desctop36px;

        @media only screen and (max-width: 499px) {
            padding: $mobile15px $mobile30px;
        }


        &:hover {
            svg path {
                fill: $redColor;
            }
        }
    }

    svg {
        width: $desctop13px;
        height: $desctop13px;

        @media only screen and (max-width: 499px) {
            width: $mobile13px;
            height: $mobile13px;
        }
    }
}
